{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Takmičari | ETF Competition{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Dodavanje takmičara na takmičenje</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="x_panel">
                <div class="x_content">
	                <form action="{{ url_for('competitors.add_new') }}" method="post">

	                {{ form.csrf_token }}
                    <div class="form-group col-sm-6 col-xs-12 required">
                        <label class="control-label" for="name">Ime</label>
                        {{ form.name(class_="form-control") }}
                    </div>
                    <div class="form-group col-sm-6 col-xs-12 required">
                        <label class="control-label" for="surnname">Prezime</label>
                        {{ form.surname(class_="form-control") }}
                    </div>
                    <div class="form-group col-sm-6 col-xs-12 required">
                        <label class="control-label" for="index_number">Broj indeksa</label>
                        {{ form.index_number(class_="form-control") }}
                    </div>
                    <div class="form-group col-sm-6 col-xs-12 required">
                        <label class="control-label" for="year">Godina studija</label>
                        {{ form.year(class_="form-control") }}
                    </div>
					<div class="col-sm-12 col-xs-12">

                    {{ form.competition_name(class_="form-control hidden") }}
                    {{ form.competition_date(class_="form-control hidden") }}

					<div class="my-4">
						<span id="students-search-btn" class="btn btn-success">Pretraži studente</span>
					</div>

					<div id="students-search-results-container" class="row">
						<table id="students-search-results" class="table table-striped d-none">
							<thead>
								<tr>
									<th>Ime</th>
                                    <th>Prezime</th>
									<th>Broj indeksa</th>
                                    <th>Godina studija</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>

                    <div class="mt-5">
                        <h4>Takmičenje</h4>

                        <div class="input-group mb-5">
						<input id="competition-search-query" type="text" class="form-control" placeholder="Unesite naziv takmičenja...">
						<span class="input-group-btn">
							<button id="competition-search" class="btn btn-default" type="button">Traži</button>
						</span>
			        </div>

					<div id="competition-search-results-container">
						<table id="competition-search-results" class="table table-striped d-none">
							<thead>
								<tr>
									<th>Naziv</th>
                                    <th>Oblast</th>
									<th>Datum održavanja</th>
                                    <th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
                    </div>

                    {{ form.submit(class_="btn btn-default") }}

					</div>
	                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}

    <script>
    $(function() {

        $("#competition-search-query").on("keyup", function(e) {
            if(e.which == 13)
                $("#competition-search").trigger("click");
        });

        $("#competition-search").on("click", function() {
            let search_query = $("#competition-search-query").val();

            if(search_query.length === 0)
                return;

            let page_base = window.location.protocol + "//" + window.location.host + "/";

            $.get(page_base + "api/search/competition/" + search_query, function(data) {
                let results_container = $("#competition-search-results");
                let results_table = $("#competition-search-results > tbody");
                results_table.empty();

                $.each(data, function(i, e) {
                    results_table.append("<tr><td>" + e.name + "</td><td>" + e.field + "</td><td>" + e.date + "</td><td><input type='radio' name='competition_opt' data-cname='"+e.name+"' data-cdate='"+e.date+"'/></td></tr>");
                });

                if(results_container.hasClass("d-none"))
                    results_container.removeClass("d-none");

                $("input[type='radio'][name='competition_opt']").on("change", function() {
                    $("#competition_name").val($(this).data("cname"));
                    $("#competition_date").val($(this).data("cdate"));
                });
            });
        });

		$("#students-search-btn").on("click", function() {
			let name = $("#name").val();
			let surname = $("#surname").val();
			let index = $("#index_number").val();
			let year = $("#year").val();

            if(name.length === 0 && surname.length === 0 && index.length === 0 && year.length === 0)
                return;

            let page_base = window.location.protocol + "//" + window.location.host + "/";

            $.get(page_base + "api/search/student?name=" + name + "&surname=" + surname + "&index=" + index + "&year=" + year , function(data) {
				let results_container = $("#students-search-results");
                let results_table = $("#students-search-results > tbody");
                results_table.empty();

                $.each(data, function(i, e) {
                    results_table.append("<tr><td>" + e.name + "</td><td>" + e.surname + "</td><td>" + e.index_number + "</td><td>" + e.study_year + "</td><td><input type='radio' name='student_opt' data-sname='"+e.name+"' data-ssurname='"+e.surname+"' data-sindex='"+e.index_number+"' data-syear='"+e.study_year+"'/></td></tr>");
                });

                if(results_container.hasClass("d-none"))
                    results_container.removeClass("d-none");

                $("input[type='radio'][name='student_opt']").on("change", function() {
                    $("#name").val($(this).data("sname"));
                    $("#surname").val($(this).data("ssurname"));
                    $("#index_number").val($(this).data("sindex"));
                    $("#year").val($(this).data("syear"));
                });
            });
		});
    });

    </script>
{% endblock %}