{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Takmičenja | ETF Competition{% endblock %}

{% block content %}
    <div class="page-header">
        {% if isEdit==0 %}
	    <h1>Dodavanje novog takmičenja</h1>
	    {% else %}
	    <h1>Izmjena podataka o takmičenju</h1>
	    {% endif %}
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="x_panel">
                <div class="x_content">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}

    <script>
        $('#date').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    </script>
{% endblock %}