{% extends 'base.html' %}

{% block title %}Pregled takmičenja | ETF Competition{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Pregled takmičenja</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Kalendar registrovanih takmičenja</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}