{% extends 'base.html' %}

{% block title %}Pregled statistike | ETF Competition{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Broj takmičara po broju bodova</h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
					<div id='graph' class="col-xs-10 col-xs-push-1">
					</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>

		var chartData = {
		      type: 'bar',
		      title: {
			        text: 'Broj takmičara po broju bodova'
		      },
		      legend: {},
		      series: [
		          { values: [
		            {% if res_dict|length > 0 and results_count>0 %}

                            {% for i in range(21) %}

                            {{ (res_dict[i]/results_count)|string + ',' }}

                            {% endfor %}
                     {% endif %}
		          ]}
		      ]
	    };

		zingchart.render({
			id : 'graph',
			data : chartData,
			height: 500,
			width: 725
		});

</script>
{% endblock %}