{% extends 'base.html' %}

{% block title %}Takmičenja | ETF Competition{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Pregled liste takmičenja</h1>
    </div>

<div class="row">
		<div class="col-xs-12">
			<div class="x_panel">
				<div class="x_title">
                    <h2>Pretraga takmičenja</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
				<div class="x_content">
					<div class="input-group mb-5">
						<input id="competition-search-query" type="text" class="form-control" placeholder="Unesite pojam pretrage...">
						<span class="input-group-btn">
							<button id="competition-search" class="btn btn-default" type="button">Traži</button>
						</span>
			        </div>

					<div id="competition-search-results-container">
						<table id="competition-search-results" class="table table-striped d-none">
							<thead>
								<tr>
									<th>Naziv</th>
									<th>Datum održavanja</th>
									<th>Oblast</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="row">
        <div class="col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista svih takmičenja
                        <small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30"></p>
                    <table id="datatable-buttons" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Naziv</th>
                                <th>Oblast</th>
                                <th>Datum održavanja</th>
                                <th>Dodatne opcije</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if competition_list|length > 0 %}
                                {% for comp in competition_list %}
                                    <tr>
                                        <td>{{ comp.name }}</td>
                                        <td>{{ comp.field.name }}</td>
                                        <td>{{ comp.date }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-danger">Opcije</button>
                                                <button type="button"
                                                        class="btn btn-danger dropdown-toggle"
                                                        data-toggle="dropdown"
                                                        aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="{{ url_for('competition.delete', name=comp.name, date=comp.date) }}">Obriši</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ url_for('competition.update', name=comp.name, date=comp.date) }}">Promijeni</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center">
                                        Nema takmičenja
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}