{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Takmičenja | ETF Competition{% endblock %}

{% block content %}
    <div class="page-header row">
        <h1 class="col-xs-9 col-sm-10 m-0">Pregled detalja o takmičenju</h1>
        <a href="{{ url_for('competition.show_stats', name=name, date=date) }}" class="btn btn-success col-xs-3 col-sm-2 m-0">Pregled statistike</a>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="x_panel">
                <div class="x_content">
                    {{ wtf.quick_form(form) }}

	                {% if is_admin(current_user) %}
					<br/>
                    <div>
	                    <h3>Pregled prijava na takmičenje</h3>
	                    <br/>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Ime</th>
                                    <th>Prezime</th>
                                    <th>Broj indeksa</th>
	                                <th>Godina studija</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if participations|length > 0 %}
                                    {% for p in participations %}
                                        <tr>
                                            <td>{{ p.name }}</td>
                                            <td>{{ p.surname }}</td>
                                            <td>{{ p.index_number }}</td>
                                            <td>{{ p.study_year }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            Nema prijava na takmičenje
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
	                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}

    <script>
        $('#date').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    </script>
{% endblock %}