<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
                ETF Competition
            {% endblock %}
        </title>

        {# General stylesheets #}
        {% assets "css_bundle" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

        {# Block for styles to be added later #}
        {% block style %}{% endblock %}
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">

                {# Sidebar #}
                {% include 'sidebar.html' %}

                {# TopBar #}
                {% include 'topbar.html' %}

                <div class="right_col" role="main">
                    {# Notifications #}
                    {% include 'notifications.html' %}

                    {# Main page content #}
                    {% block content %}{% endblock %}
                </div>

                {# Footer #}
                {% include 'footer.html' %}
            </div>
        </div>

        {# General purpose scripts #}
        {% assets "js_bundle" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {# Block for scripts to be added later #}
        {% block script %}{% endblock %}
    </body>
</html>