<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ url_for('public.index') }}" class="site_title">
                <span>ETF Competition</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        {% if current_user.is_authenticated %}
        <div class="profile clearfix mb-5">
            <div class="profile_pic">
                <img src="{{ url_for('static', filename='images/img.jpg') }}"
                     alt="Profile" class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Dobrodošli,</span>
                <h2>{{ current_user.name }}</h2>
            </div>
        </div>
        {% endif %}
        <!-- /menu profile quick info -->

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu m-0">
                    <li>
                        <a href="{{ url_for('public.index') }}" class="m-0">
                            <i class="fa fa-home"></i> Početna
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-edit"></i>Takmičenja<span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a href="{{ url_for('competition.list_all') }}">Pregled svih takmičenja</a></li>

                            {% if is_admin(current_user) %}
                                <li><a href="{{ url_for('competition.list_mine') }}">Pregled mojih takmičenja</a></li>
                                <li><a href="{{ url_for('competition.add_new') }}">Kreiraj novo takmičenje</a></li>
                            {% elif is_student(current_user) %}
                                <li><a href="{{ url_for('competition.list_mine') }}">Pregled mojih takmičenja</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a><i class="fa fa-desktop"></i>Takmičari<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ url_for('competitors.list_all') }}">Pregled prijava</a></li>
                            <li><a href="{{ url_for('competitors.add_new') }}">Dodaj novog takmičara</a></li>
                        </ul>
                    </li>

                    <li><a><i class="fa fa-table"></i>Statistika<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="tables.html">Analiza rezultata takmičenja</a></li>
                            <li><a href="tables.html">Analiza rezultata takmičara</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>