{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Prijava | ETF Competition{% endblock %}

{% block content %}
<div class="col-xs-12 text-center">
    <div class="page-header">
        <h1 class="text-uppercase text-dark">Prijava</h1>
        <p class="text-light">Dobro došli na ETF-competition Elektrotehničkog fakulteta Sarajevo</p>
    </div>

    <!-- Login Form -->
    <div class="d-row" id="login-form-container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}